html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --grid-col: 1;
    --grid-row: 1;
  }
  
  #container {
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-row), 1fr);
    grid-template-columns: repeat(var(--grid-col), 1fr);
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid rgb(49, 48, 48);
    text-align: center;
  }